* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;
}

.main-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: black;
}

/* === PRELOADING === */

.lds-dual-ring {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CARD */

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    width: 65%;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: mediumslateblue;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 130px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
}

.blog-card .details, .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -90%;
    margin: auto;
    transition: left 0.5s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.blog-card .details ul li {
    display: inline-block;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hover {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    font-size: 16px;
    align-content: flex-end;
}

.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\263A";
    font-size: 26px;
}

.blog-card .details .email:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\1F582";
    font-size: 20px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1, .blog-card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.5s, opacity 0.5s;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 3px;
    background: mediumslateblue;
    width: 165px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

/* BTN DELETE */
.close {
    display: flex;
    justify-content: space-evenly;
}

.close button {
    border: none;
    background-color: inherit;
    font-size: 26px;
    cursor: pointer;
}

/* BTN EDIT */
.edit {
    display: flex;
    justify-content: flex-start;
}

.edit button {
    border: none;
    background-color: inherit;
    font-size: 26px;
    cursor: pointer;
}

/* ask QUESTIONS */

.confirmation-box {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 300px;
    padding: 20px;
    display: none;
    text-align: center;
    position: fixed; /* Фіксована позиція */
    top: 50%; /* Вертикальне позиціонування по середині */
    left: 50%; /* Горизонтальне позиціонування по середині */
    transform: translate(-50%, -50%); /* Центрування вікна */
    z-index: 3; /* Поверх інших елементів */
}

.confirmation-box p {
    margin: 0;
    font-size: 16px;
    padding-bottom: 20px;
}

.confirmation-box button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.confirmation-box button:hover {
    background-color: #0056b3;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Заблурювання фону */
    display: none;
    z-index: 2; /* Поверх інших елементів */
}

/* ADD POST */
.modal {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    /*text-align: center;*/
    position: fixed; /* Фіксована позиція */
    top: 50%; /* Вертикальне позиціонування по середині */
    left: 50%; /* Горизонтальне позиціонування по середині */
    transform: translate(-50%, -50%); /* Центрування вікна */
    z-index: 3; /* Поверх інших елементів */
}

.closePost {
    display: flex;
    justify-content: flex-end;
}

#postForm {
    display: flex;
    flex-direction: column;
}

.modal h2 {
    margin: 10px 0;
    text-align: center;
    color: #007BFF;
}

.closePost {
    font-size: 35px;
    color: red;
    cursor: pointer;
}

label {
    color: #007BFF;
}

textarea {
    width: 100%;
    height: 250px;
    resize: none;
    outline: none;
    border-radius: 5px;
}

input {
    margin-bottom: 15px;
    outline: none;
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
}

input::placeholder {
    text-align: center;
}

label {
    text-align: center;
}

.addPosts {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.addPost {
    align-content: center;
    border-radius: 5px;
    border: none;
    width: 170px;
    height: 40px;
    background: khaki;
}

.addNewPost {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 30px;
    background: #007BFF;
}

.addNewPost:hover {
    background-color: #0056b3;
}
